<table id="wp-calendar" class="table">
	<caption>July 2017</caption>
	<thead>
		<tr>
			<th scope="col"><abbr title="Monday">M</abbr></th>
			<th scope="col"><abbr title="Tuesday">T</abbr></th>
			<th scope="col"><abbr title="Wednesday">W</abbr></th>
			<th scope="col"><abbr title="Thursday">T</abbr></th>
			<th scope="col"><abbr title="Friday">F</abbr></th>
			<th scope="col"><abbr title="Saturday">S</abbr></th>
			<th scope="col"><abbr title="Sunday">S</abbr></th>
		</tr>
	</thead>

	<tfoot role="presentation">
		<tr>
			<td colspan="3" id="prev"><a href="http://localhost:8888/2017/06/">« Jun</a></td>
			<td class="pad">&nbsp;</td>
			<td colspan="3" id="next"><a href="http://localhost:8888/2017/08/">Aug »</a></td>
		</tr>
	</tfoot>

	<tbody>
		<tr>
			<td colspan="5" class="pad">&nbsp;</td>
			<td>1</td>
			<td>2</td>
		</tr>
		<tr>
			<td>3</td>
			<td>4</td>
			<td>5</td>
			<td>6</td>
			<td>7</td>
			<td>8</td>
			<td>9</td>
		</tr>
		<tr>
			<td>10</td>
			<td>11</td>
			<td>12</td>
			<td>13</td>
			<td>14</td>
			<td>15</td>
			<td>16</td>
		</tr>
		<tr>
			<td>17</td>
			<td>18</td>
			<td>19</td>
			<td>20</td>
			<td>21</td>
			<td>22</td>
			<td>23</td>
		</tr>
		<tr>
			<td>24</td>
			<td><a href="http://localhost:8888/2017/07/25/" aria-label="Posts published on July 25, 2017">25</a></td>
			<td>26</td>
			<td>27</td>
			<td>28</td>
			<td>29</td>
			<td>30</td>
		</tr>
		<tr>
			<td><a href="http://localhost:8888/2017/07/31/" aria-label="Posts published on July 31, 2017">31</a></td>
			<td class="pad" colspan="6">&nbsp;</td>
		</tr>
	</tbody>
</table>
