#uciformats label {
	display: inline-block;
	margin: 15px;
}

#uciformats label input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

#uciformats label input + img {
	box-sizing: border-box;
	width: 200px;
	height: 200px;
}

#uciformats label input:checked + img {
	border: 5px solid blue;
	opacity: .5;
	box-shadow: 5px 5px 15px #333;
}

#uciformats label img:hover {
	border: 5px solid blue;
	opacity: .5;
}